# This is an .env example file which contains all the env variables required by the app

# IGDB API VARIABLES
IGDB_API_BASE_URL=
IGDB_API_TWITCH_OAUTH_TOKEN_URL=
IGDB_API_TWITCH_APP_CLIENT_ID=
IGDB_API_TWITCH_APP_CLIENT_SECRET=

# POSTGRES DB VARIABLES
POSTGRES_DB_URL=
POSTGRES_DB_SSL_ENABLED=
POSTGRES_DB_SSL_CA_CERT=You can keep this empty when ssl is not enabled for postgres database

# API AUTH VARIABLES
API_AUTH_SECRET_TOKEN=
